<a href="https://colab.research.google.com/github/Hkherdekar/Covid19/blob/master/Covid19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#!pip install apache-airflow

In [2]:
#importing libraries
import pandas as pd #Data processing
import numpy as np #Matrix/Linear algebraic operations
import random as rd #Random number 
from datetime import datetime
from datetime import date, timedelta #date formats
import pytz

#Visualization packages
from matplotlib import pyplot as plt
import seaborn as sns

#Ignore Warnings
import warnings
warnings.filterwarnings("ignore")

from pandas import Series

#import all the required statistics functionality
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.stattools import acf, pacf

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
pst = pytz.timezone('America/Los_Angeles')

In [0]:
path_to_directory = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/'

In [0]:
#importing data (only last updated daily data file) and converting to pandas dataframe

date = datetime.now(pst) - timedelta(days=1)
date = date.strftime('%m-%d-%Y')
url = path_to_directory + date + '.csv'
CovidToday = pd.read_csv(url);

In [6]:
CovidToday.head()

      FIPS     Admin2  ... Active                   Combined_Key
0  45001.0  Abbeville  ...     29  Abbeville, South Carolina, US
1  22001.0     Acadia  ...    121          Acadia, Louisiana, US
2  51001.0   Accomack  ...    225         Accomack, Virginia, US
3  16001.0        Ada  ...    646                 Ada, Idaho, US
4  19001.0      Adair  ...      1                Adair, Iowa, US

[5 rows x 12 columns]

In [0]:
#importing timeseries data and converting to pandas dataframe
#The file links are hardcoded as they are auto-appended to the same file location

CovidCasesUS = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')

CovidCasesGlobal = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')

CovidDeathsUS = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')

CovidDeathsGlobal = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')

CovidRecoveredGlobal = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')

  Province/State Country/Region      Lat  ...  4/27/20  4/28/20  4/29/20
0            NaN    Afghanistan  33.0000  ...     1703     1828     1939
1            NaN        Albania  41.1533  ...      736      750      766
2            NaN        Algeria  28.0339  ...     3517     3649     3848
3            NaN        Andorra  42.5063  ...      743      743      743
4            NaN         Angola -11.2027  ...       27       27       27

[5 rows x 103 columns]

  Province/State Country/Region      Lat  ...  4/27/20  4/28/20  4/29/20
0            NaN    Afghanistan  33.0000  ...       57       58       60
1            NaN        Albania  41.1533  ...       28       30       30
2            NaN        Algeria  28.0339  ...      432      437      444
3            NaN        Andorra  42.5063  ...       40       41       42
4            NaN         Angola -11.2027  ...        2        2        2

[5 rows x 103 columns]

           Province/State_left  ... 4/29/20_right
0                          NaN  ...            60
1                          NaN  ...            30
2                          NaN  ...           444
3                          NaN  ...            42
4                          NaN  ...             2
..                         ...  ...           ...
259  Saint Pierre and Miquelon  ...             0
260                        NaN  ...             0
261                        NaN  ...             0
262                        NaN  ...             0
263                        NaN  ...             0

[1832 rows x 205 columns]

In [27]:
#Data about coronavirus testing taken from our world in data github account to be updated daily.

CovidTesting = pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/testing/covid-testing-all-observations.csv')

CovidTesting.head()

                         Entity  ... 3-day rolling mean daily change per thousand
0   Argentina - tests performed  ...                                          NaN
1   Argentina - tests performed  ...                                          NaN
2   Argentina - tests performed  ...                                          NaN
3   Argentina - tests performed  ...                                        0.035
4   Argentina - tests performed  ...                                          NaN
..                          ...  ...                                          ...
95    Austria - tests performed  ...                                        0.506
96    Austria - tests performed  ...                                        0.400
97    Austria - tests performed  ...                                        0.441
98    Austria - tests performed  ...                                        0.533
99    Austria - tests performed  ...                                        0.647

[100 rows x 11 columns]

In [9]:
#Data about population, keeping two copies for options.

WorldPopulation1 = pd.read_csv('https://raw.githubusercontent.com/Hkherdekar/Covid19/master/WPP2019_TotalPopulationBySex.csv')

WorldPopulation2 = pd.read_csv('https://raw.githubusercontent.com/Hkherdekar/Covid19/master/population-figures-by-country-csv_csv.csv')

WorldPopulation1.head()
WorldPopulation2.head()

       Country Country_Code  Year_1960  ...   Year_2014   Year_2015   Year_2016
0        Aruba          ABW    54211.0  ...    103795.0    104341.0    104822.0
1  Afghanistan          AFG  8996351.0  ...  32758020.0  33736494.0  34656032.0
2       Angola          AGO  5643182.0  ...  26920466.0  27859305.0  28813463.0
3      Albania          ALB  1608800.0  ...   2889104.0   2880703.0   2876101.0
4      Andorra          AND    13411.0  ...     79223.0     78014.0     77281.0

[5 rows x 59 columns]

In [21]:
#Using date value to filter data for a join 
date = datetime.now(pst) - timedelta(days=1)
date = date.strftime('%m/%d/%y')
print(date[1:])

4/29/20

In [22]:
#Breakup the data to get limited columns
print(CovidCasesGlobal.head())
print(CovidDeathsGlobal.head())

  Province/State Country/Region      Lat  ...  4/27/20  4/28/20  4/29/20
0            NaN    Afghanistan  33.0000  ...     1703     1828     1939
1            NaN        Albania  41.1533  ...      736      750      766
2            NaN        Algeria  28.0339  ...     3517     3649     3848
3            NaN        Andorra  42.5063  ...      743      743      743
4            NaN         Angola -11.2027  ...       27       27       27

[5 rows x 103 columns]
  Province/State Country/Region      Lat  ...  4/27/20  4/28/20  4/29/20
0            NaN    Afghanistan  33.0000  ...       57       58       60
1            NaN        Albania  41.1533  ...       28       30       30
2            NaN        Algeria  28.0339  ...      432      437      444
3            NaN        Andorra  42.5063  ...       40       41       42
4            NaN         Angola -11.2027  ...        2        2        2

[5 rows x 103 columns]

In [0]:
GlobalCases = CovidCasesGlobal.filter(items=['Country/Region', date[1:]])

GlobalDeaths = CovidDeathsGlobal.filter(items=['Country/Region', date[1:]])

In [26]:
GlobalCases.join(GlobalDeaths.set_index('Country/Region'), on='Country/Region', lsuffix='_cases', rsuffix='_deaths')

            Country/Region  4/29/20_cases  4/29/20_deaths
0              Afghanistan           1939              60
1                  Albania            766              30
2                  Algeria           3848             444
3                  Andorra            743              42
4                   Angola             27               2
..                     ...            ...             ...
259                 France              1               0
260            South Sudan             34               0
261         Western Sahara              6               0
262  Sao Tome and Principe              8               0
263                  Yemen              6               0

[1832 rows x 3 columns]

In [28]:
CovidTesting.head()

                        Entity  ... 3-day rolling mean daily change per thousand
0  Argentina - tests performed  ...                                          NaN
1  Argentina - tests performed  ...                                          NaN
2  Argentina - tests performed  ...                                          NaN
3  Argentina - tests performed  ...                                        0.035
4  Argentina - tests performed  ...                                          NaN

[5 rows x 11 columns]