<a href="https://colab.research.google.com/github/Hkherdekar/Covid19/blob/master/Covid19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#!pip install apache-airflow

Requirement already satisfied: apache-airflow in /usr/local/lib/python3.6/dist-packages (1.10.10)
Requirement already satisfied: flask-wtf<0.15,>=0.14.2 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (0.14.3)
Requirement already satisfied: setproctitle<2,>=1.1.8 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (1.1.10)
Requirement already satisfied: zope.deprecation<5.0,>=4.0 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (4.4.0)
Requirement already satisfied: colorlog==4.0.2 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (4.0.2)
Requirement already satisfied: lazy-object-proxy~=1.3 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (1.4.3)
Requirement already satisfied: termcolor==1.1.0 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (1.1.0)
Requirement already satisfied: cattrs~=0.9 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (0.9.2)
Requirement already satisfied: cached-property~=1.5 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (1.5.1)
Requirement already satisfied: jinja2<2.11.0,>=2.10.1 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (2.10.3)
Requirement already satisfied: pygments<3.0,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (2.1.3)
Requirement already satisfied: iso8601>=0.1.12 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (0.1.12)
Requirement already satisfied: flask-caching<1.4.0,>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (1.3.3)
Requirement already satisfied: flask-admin==1.5.4 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (1.5.4)
Requirement already satisfied: tzlocal<2.0.0,>=1.4 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (1.5.1)
Requirement already satisfied: thrift>=0.9.2 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (0.13.0)
Requirement already satisfied: flask-appbuilder~=2.2; python_version >= "3.6" in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (2.3.3)
Requirement already satisfied: gunicorn<20.0,>=19.5.0 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (19.10.0)
Requirement already satisfied: alembic<2.0,>=1.0 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (1.4.2)
Requirement already satisfied: flask-login<0.5,>=0.3 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (0.4.1)
Requirement already satisfied: sqlalchemy-jsonfield~=0.9; python_version >= "3.5" in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (0.9.0)
Requirement already satisfied: jsonschema~=3.0 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (3.2.0)
Requirement already satisfied: pendulum==1.4.4 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (1.4.4)
Requirement already satisfied: text-unidecode==1.2 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (1.2)
Requirement already satisfied: requests<3,>=2.20.0 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (2.21.0)
Requirement already satisfied: unicodecsv>=0.14.1 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (0.14.1)
Requirement already satisfied: sqlalchemy~=1.3 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (1.3.16)
Requirement already satisfied: python-daemon<2.2,>=2.1.1 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (2.1.2)
Requirement already satisfied: tabulate<0.9,>=0.7.5 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (0.8.7)
Requirement already satisfied: flask-swagger==0.2.13 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (0.2.13)
Requirement already satisfied: python-dateutil<3,>=2.3 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (2.8.1)
Requirement already satisfied: markdown<3.0,>=2.5.2 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (2.6.11)
Requirement already satisfied: future<0.19,>=0.16.0 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (0.16.0)
Requirement already satisfied: croniter<0.4,>=0.3.17 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (0.3.31)
Requirement already satisfied: pandas<1.0.0,>=0.17.1 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (0.25.3)
Requirement already satisfied: tenacity==4.12.0 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (4.12.0)
Requirement already satisfied: werkzeug<1.0.0 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (0.16.1)
Requirement already satisfied: funcsigs<2.0.0,>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (1.0.2)
Requirement already satisfied: typing-extensions>=3.7.4; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (3.7.4.2)
Requirement already satisfied: json-merge-patch==0.2 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (0.2)
Requirement already satisfied: attrs~=19.3 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (19.3.0)
Requirement already satisfied: psutil<6.0.0,>=4.2.0 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (5.4.8)
Requirement already satisfied: argcomplete~=1.10 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (1.11.1)
Requirement already satisfied: dill<0.4,>=0.2.2 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (0.3.1.1)
Requirement already satisfied: flask<2.0,>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (1.1.2)
Requirement already satisfied: configparser<3.6.0,>=3.5.0 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (3.5.3)
Requirement already satisfied: graphviz>=0.12 in /usr/local/lib/python3.6/dist-packages (from apache-airflow) (0.14)
Requirement already satisfied: itsdangerous in /usr/local/lib/python3.6/dist-packages (from flask-wtf<0.15,>=0.14.2->apache-airflow) (1.1.0)
Requirement already satisfied: WTForms in /usr/local/lib/python3.6/dist-packages (from flask-wtf<0.15,>=0.14.2->apache-airflow) (2.3.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from zope.deprecation<5.0,>=4.0->apache-airflow) (46.1.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2<2.11.0,>=2.10.1->apache-airflow) (1.1.1)
Requirement already satisfied: pytz in /usr/local/lib/python3.6/dist-packages (from tzlocal<2.0.0,>=1.4->apache-airflow) (2018.9)
Requirement already satisfied: six>=1.7.2 in /usr/local/lib/python3.6/dist-packages (from thrift>=0.9.2->apache-airflow) (1.12.0)
Requirement already satisfied: Flask-OpenID<2,>=1.2.5 in /usr/local/lib/python3.6/dist-packages (from flask-appbuilder~=2.2; python_version >= "3.6"->apache-airflow) (1.2.5)
Requirement already satisfied: sqlalchemy-utils<1,>=0.32.21 in /usr/local/lib/python3.6/dist-packages (from flask-appbuilder~=2.2; python_version >= "3.6"->apache-airflow) (0.36.3)
Requirement already satisfied: marshmallow<3.0.0,>=2.18.0 in /usr/local/lib/python3.6/dist-packages (from flask-appbuilder~=2.2; python_version >= "3.6"->apache-airflow) (2.21.0)
Requirement already satisfied: Flask-SQLAlchemy<3,>=2.4 in /usr/local/lib/python3.6/dist-packages (from flask-appbuilder~=2.2; python_version >= "3.6"->apache-airflow) (2.4.1)
Requirement already satisfied: marshmallow-sqlalchemy<1,>=0.16.1 in /usr/local/lib/python3.6/dist-packages (from flask-appbuilder~=2.2; python_version >= "3.6"->apache-airflow) (0.23.0)
Requirement already satisfied: apispec[yaml]<2,>=1.1.1 in /usr/local/lib/python3.6/dist-packages (from flask-appbuilder~=2.2; python_version >= "3.6"->apache-airflow) (1.3.3)
Requirement already satisfied: prison<1.0.0,>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from flask-appbuilder~=2.2; python_version >= "3.6"->apache-airflow) (0.1.3)
Requirement already satisfied: Flask-Babel<2,>=1 in /usr/local/lib/python3.6/dist-packages (from flask-appbuilder~=2.2; python_version >= "3.6"->apache-airflow) (1.0.0)
Requirement already satisfied: PyJWT>=1.7.1 in /usr/local/lib/python3.6/dist-packages (from flask-appbuilder~=2.2; python_version >= "3.6"->apache-airflow) (1.7.1)
Requirement already satisfied: marshmallow-enum<2,>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from flask-appbuilder~=2.2; python_version >= "3.6"->apache-airflow) (1.5.1)
Requirement already satisfied: colorama<1,>=0.3.9 in /usr/local/lib/python3.6/dist-packages (from flask-appbuilder~=2.2; python_version >= "3.6"->apache-airflow) (0.4.3)
Requirement already satisfied: click<8,>=6.7 in /usr/local/lib/python3.6/dist-packages (from flask-appbuilder~=2.2; python_version >= "3.6"->apache-airflow) (7.1.1)
Requirement already satisfied: Flask-JWT-Extended<4,>=3.18 in /usr/local/lib/python3.6/dist-packages (from flask-appbuilder~=2.2; python_version >= "3.6"->apache-airflow) (3.24.1)
Requirement already satisfied: email-validator<2,>=1.0.5 in /usr/local/lib/python3.6/dist-packages (from flask-appbuilder~=2.2; python_version >= "3.6"->apache-airflow) (1.0.5)
Requirement already satisfied: python-editor>=0.3 in /usr/local/lib/python3.6/dist-packages (from alembic<2.0,>=1.0->apache-airflow) (1.0.4)
Requirement already satisfied: Mako in /usr/local/lib/python3.6/dist-packages (from alembic<2.0,>=1.0->apache-airflow) (1.1.2)
Requirement already satisfied: typing>=3.6; python_version < "3.7" in /usr/local/lib/python3.6/dist-packages (from sqlalchemy-jsonfield~=0.9; python_version >= "3.5"->apache-airflow) (3.6.6)
Requirement already satisfied: pyrsistent>=0.14.0 in /usr/local/lib/python3.6/dist-packages (from jsonschema~=3.0->apache-airflow) (0.16.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from jsonschema~=3.0->apache-airflow) (1.6.0)
Requirement already satisfied: pytzdata>=2018.3.0.0 in /usr/local/lib/python3.6/dist-packages (from pendulum==1.4.4->apache-airflow) (2019.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.20.0->apache-airflow) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.20.0->apache-airflow) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.20.0->apache-airflow) (2020.4.5.1)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.20.0->apache-airflow) (2.8)
Requirement already satisfied: lockfile>=0.10 in /usr/local/lib/python3.6/dist-packages (from python-daemon<2.2,>=2.1.1->apache-airflow) (0.12.2)
Requirement already satisfied: docutils in /usr/local/lib/python3.6/dist-packages (from python-daemon<2.2,>=2.1.1->apache-airflow) (0.15.2)
Requirement already satisfied: PyYAML>=3.0 in /usr/local/lib/python3.6/dist-packages (from flask-swagger==0.2.13->apache-airflow) (3.13)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas<1.0.0,>=0.17.1->apache-airflow) (1.18.3)
Requirement already satisfied: python3-openid>=2.0 in /usr/local/lib/python3.6/dist-packages (from Flask-OpenID<2,>=1.2.5->flask-appbuilder~=2.2; python_version >= "3.6"->apache-airflow) (3.1.0)
Requirement already satisfied: Babel>=2.3 in /usr/local/lib/python3.6/dist-packages (from Flask-Babel<2,>=1->flask-appbuilder~=2.2; python_version >= "3.6"->apache-airflow) (2.8.0)
Requirement already satisfied: dnspython>=1.15.0 in /usr/local/lib/python3.6/dist-packages (from email-validator<2,>=1.0.5->flask-appbuilder~=2.2; python_version >= "3.6"->apache-airflow) (1.16.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata; python_version < "3.8"->jsonschema~=3.0->apache-airflow) (3.1.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.6/dist-packages (from python3-openid>=2.0->Flask-OpenID<2,>=1.2.5->flask-appbuilder~=2.2; python_version >= "3.6"->apache-airflow) (0.6.0)

In [2]:
#importing libraries
import pandas as pd #Data processing
import numpy as np #Matrix/Linear algebraic operations
import random as rd #Random number 
from datetime import datetime
from datetime import date, timedelta #date formats
import pytz

#Visualization packages
from matplotlib import pyplot as plt
import seaborn as sns

#Ignore Warnings
import warnings
warnings.filterwarnings("ignore")

from pandas import Series

#import all the required statistics functionality
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.stattools import acf, pacf

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
pst = pytz.timezone('America/Los_Angeles')

In [0]:
path_to_directory = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/'

In [0]:
#importing data (only last updated daily data file) and converting to pandas dataframe

date = datetime.now(pst) - timedelta(days=1)
date = date.strftime('%m-%d-%Y')
url = path_to_directory + date + '.csv'
CovidToday = pd.read_csv(url);

04-26-2020

In [0]:
CovidToday.head()

      FIPS     Admin2  ... Active                   Combined_Key
0  45001.0  Abbeville  ...     27  Abbeville, South Carolina, US
1  22001.0     Acadia  ...    123          Acadia, Louisiana, US
2  51001.0   Accomack  ...    184         Accomack, Virginia, US
3  16001.0        Ada  ...    635                 Ada, Idaho, US
4  19001.0      Adair  ...      1                Adair, Iowa, US

[5 rows x 12 columns]

In [0]:
#importing timeseries data and converting to pandas dataframe
#The file links are hardcoded as they are auto-appended to the same file location

CovidCasesUS = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')

CovidCasesGlobal = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')

CovidDeathsUS = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')

CovidDeathsGlobal = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')

CovidRecoveredGlobal = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')



```
All data imported
```

In [3]:
#Data about coronavirus testing taken from our world in data github account to be updated daily.

CovidTesting = pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/testing/covid-testing-all-observations.csv')

CovidTesting.head()

                        Entity  ... 3-day rolling mean daily change per thousand
0  Argentina - tests performed  ...                                          NaN
1  Argentina - tests performed  ...                                          NaN
2  Argentina - tests performed  ...                                          NaN
3  Argentina - tests performed  ...                                        0.035
4  Argentina - tests performed  ...                                          NaN

[5 rows x 11 columns]

In [5]:
#Data about population, keeping two copies for options.

WorldPopulation1 = pd.read_csv('https://raw.githubusercontent.com/Hkherdekar/Covid19/master/WPP2019_TotalPopulationBySex.csv')

WorldPopulation2 = pd.read_csv('https://raw.githubusercontent.com/Hkherdekar/Covid19/master/population-figures-by-country-csv_csv.csv')

WorldPopulation1.head()
WorldPopulation2.head()

       Country Country_Code  Year_1960  ...   Year_2014   Year_2015   Year_2016
0        Aruba          ABW    54211.0  ...    103795.0    104341.0    104822.0
1  Afghanistan          AFG  8996351.0  ...  32758020.0  33736494.0  34656032.0
2       Angola          AGO  5643182.0  ...  26920466.0  27859305.0  28813463.0
3      Albania          ALB  1608800.0  ...   2889104.0   2880703.0   2876101.0
4      Andorra          AND    13411.0  ...     79223.0     78014.0     77281.0

[5 rows x 59 columns]

In [0]:
#Now Vallabh will join the data pieces to create a dataset hahahahaha